.dark-chest-container {
  text-align: center;
  color: white;
  font-family: "Roboto", sans-serif;
  text-shadow: 0 5px 20px black;
}

.dark-thought {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  animation: lockThought 3s forwards;
  animation-delay: 1s;
  opacity: 1;
  transform: scale(1) translate(0, 0);
  transform-origin: center;
  transition: transform 2s, opacity 2s;
  background: radial-gradient(
    circle at center,
    rgb(0, 0, 0) 0%,
    rgba(0, 0, 0, 0.705) 60%,
    rgba(0, 0, 0, 0) 100%
  );
}

.appear-thought {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  animation: showThought 3s forwards;
  opacity: 1;
  transform: scale(1) translate(0, 0);
  transition: transform 2s, opacity 2s;
  background: radial-gradient(
    circle at center,
    rgb(0, 0, 0) 0%,
    rgba(0, 0, 0, 0.705) 60%,
    rgba(0, 0, 0, 0) 100%
  );
}

@keyframes lockThought {
  0% {
    transform: scale(1) translate(0, 0);
    opacity: 1;
  }
  50% {
    transform: scale(0.5) translate(0, 0);
    opacity: 0.5;
  }
  100% {
    transform: scale(0.2) translate(20px, 20px);
    opacity: 0;
  }
}

.lock-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  opacity: 0;
  transition: opacity 1s;
}

.dark-thought.locked + .lock-icon {
  opacity: 1;
}

.background-image {
  position: fixed;
  top: -100px;
  left: 0;
  width: 100vw;
  height: auto;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 100px rgb(0, 0, 0);
  z-index: -999;
}

.keep-in-chest-btn {
  font-size: larger;
  background-color: #0e0e0eab;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.keep-in-chest-btn:hover {
  background-color: #666;
}

.hide-thought {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  animation: hideThought 3s forwards;
  background: radial-gradient(
    circle at center,
    rgb(0, 0, 0) 0%,
    rgba(0, 0, 0, 0.705) 60%,
    rgba(0, 0, 0, 0) 100%
  );
}

@keyframes hideThought {
  0% {
    transform: scale(1) translate(0, 0);
    opacity: 1;
  }
  50% {
    transform: scale(0.5) translate(0, 0);
    opacity: 0.5;
  }
  100% {
    transform: scale(0.2) translate(20px, 20px);
    opacity: 0;
  }
}

@keyframes showThought {
  0% {
    transform: scale(0.2) translate(20px, 20px);
    opacity: 0;
  }
  50% {
    transform: scale(0.5) translate(0, 0);
    opacity: 0.5;
  }
  100% {
    transform: scale(1) translate(0, 0);
    opacity: 1;
  }
}

.dark-thought-container {
  height: 500px;
  width: fit-content;
}

.show-hint {
  margin-top: 160px;
}

.hint {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5) !important;
  color: rgb(255, 255, 255);
}
