.gauge-container {
  width: 200px;
  height: 100px;
  position: relative;
  border: 2px solid #ddd;
  border-radius: 100px 100px 0 0;
  overflow: hidden;
  background-color: #f8f8f8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gauge {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    #f44336d2 0%,
    #ffeb3bc7 50%,
    #4caf4fde 100%
  );
  border-radius: 100px 100px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gauge-needle {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 90px solid rgb(90, 90, 90);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform-origin: bottom;
  transition: transform 1s ease-out;
}
